<!DOCTYPE html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name="theme-color" content="#222831">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="/icon"/>
  <link rel='manifest' href='/manifest.json'>
  <style>
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>
</head>
<body>
  <script>
    window.vapidPublicKey = "<%= vp %>";
  </script>

<% messages.forEach((message) => { %>
<% if(message.userId === defaultUser.id) { %>
  <div class="container">
    <p><%- message.content %></p>
    </div>
<% } else{ %>
  <div class="container darker">
    <p><%- message.content %></p>
    </div>
<% } %>

<% }) %>


<form action="/message/create" method="post">
  <label for="fname">Tu mensaje:</label>
  <input type="text" id="content" name="content">
  <input type="hidden" id="chatId" name="chatId" value="<%- chatId %>">
  <input type="submit" value="Enviar">
</form>

</body>